.container {
    width: 50%;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-form input {
    min-width: 290px;
    width: 80%;
}

button {
    min-width: 100px;
}