.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    min-width: 300px;
    width: 330px;
}

.login-form button {
    width: 80%;
}

#registration-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 1rem;
}

#registration-link:hover {
    color: var(--text-color-hover);
}

#login-credentials {
    margin-top: 2rem;
}