:root {
    /* 
        60-30-10 rule for creating a balanced colour scheme:
        60% of the dominant color
        30% of the secondary color
        10% of the accent color (call-to-action colour)

        Hexadecimal color code for transparency
        https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4
    */

    /* declaring css custom properties */
    --primary-color:#222528;
    --secondary-color: #2f3236;
    --tertiary-color:#f5478f;
    /* 
        tertiary colour alternatives:
            Teal 1 - #08eaff
            Teal 2 - #07e9f5
            Pink 1 - #f5478f
    */

    --text-color: #FFFFFF;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
}

.footer-links-list {
    list-style: none;
}


/* ======================== utility classes ======================== */

/* set background to secondary color */
.bg-secondary-color {
    background: var(--secondary-color);
}

/* set background to tertiary color */
.bg-tertiary-color {
    background: var(--tertiary-color);
}

/* set background to secondary color with rounded corners */
.secondary-color-background {
    border-radius: 25px;
    background-color: var(--secondary-color)
}

/* override bootstrap buttons */
.btn-tertiary-color {
    --test1: #cf3f7b;
    --test2: #f5478f;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--tertiary-color);
    --bs-btn-border-color: var(--tertiary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cf3f7b;
    --bs-btn-hover-border-color: #c03870;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c03870;
    --bs-btn-active-border-color: #a83464;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--tertiary-color);
    --bs-btn-disabled-border-color: var(--tertiary-color);
}


