<!DOCTYPE html>

<html lang="en">
<!-- Layout referenced from CS50 -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- bootstrap from https://getbootstrap.com/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        
        <!-- bootstrap icons from https://icons.getbootstrap.com/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- scripts.js from static folder -->
        <script src="/static/scripts.js"></script>
        <!-- stylesheet doesn't exist, style from Bootstrap -->
        <link rel="stylesheet" href="static/style.css">

        <!-- 
            option to add page specific HTML head elements
            these will have priority, from being loaded last
        -->
         {% block head %}{% endblock %}

        <!-- block to insert respective page's titles -->
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark"> -->
        <!-- <nav class="navbar navbar-expand-lg bg-secondary-color" data-bs-theme="dark"> -->
        <nav class="navbar navbar-expand-lg bg-tertiary-color" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span>IronMetrics</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- logged-in user navbar -->
                    {% if session["user_id"] %}
                        <!-- username -->
                        <ul class="navbar-nav me-2 mt-2">
                            <li class="nav-item"><a class="nav-link" href="/profile">{{ session["user_name"] }}'s' Profile</a></li>
                        </ul>
                        <!-- create workout -->
                        <ul class="navbar-nav me-2 mt-2">
                            <li class="nav-item"><a class="nav-link" href="/createworkout">New Workout</a></li>
                        </ul>
                        <!-- workout history -->
                        <ul class="navbar-nav me-2 mt-2">
                            <li class="nav-item"><a class="nav-link" href="/workouthistory">Workout History</a></li>
                        </ul>
                        <!--  -->
                        <ul class="navbar-nav me-2 mt-2">
                            <li class="nav-item"><a class="nav-link" href="/workoutanalytics">Analytics</a></li>
                        </ul>
                        <!-- logout -->
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>                        
                    <!-- logged-out user navbar -->
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <!-- register -->
                            <li class="nav-item"><a class="nav-link" href="/register_login">Register</a></li>
                            <!-- login -->
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- flash message -->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        
        <!-- main content -->
        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <!-- footer -->
        <!-- <footer class="mb-5 small text-center text-muted"> -->

        <footer class="mb-5 small text-center">
            <div>
                <div class="row">
                    <!-- links -->
                    <div class="col">
                        <ul class="footer-links-list">
                            <li>About</li>
                            <li>Support</li>
                            <li>Contact Us</li>
                            <li>Terms & Conditions</li>
                            <li>Privacy Notice</li>
                        </ul>
                    </div>
                    
                    <!-- copyright -->
                    <div class="col">
                        © 2024 IronMetrics
                    </div>

                    <!-- social media icons -->
                    <div class="col" style="font-size: x-large;">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-tiktok"></i>
                        <i class="bi bi-twitter"></i>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>