{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<div class="container w-50">
    <form action="/changepassword" method="post" class="row gy-2 m-2" id="change-password">
        <label for="change-password" class="form-label">Old Password</label>
        <input type="password" class="form-control text-center" id="old-password" name="old-password" form="change-password">

        <label for="change-password" class="form-label">New Password</label>
        <input type="password" class="form-control text-center" id="new-password" name="new-password" form="change-password">
        <p>Must contain at least one lowercase letter, uppercase letter, number and symbol.</p>
        <label for="change-password" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control text-center" id="confirm-password" name="confirm-password" form="change-password">
        <p>Must match new password above.</p>
    </form>
    <button type="button" class="btn btn-tertiary-color" onclick="history.back()">Back</button>
    <button type="submit" form="change-password" class="btn btn-tertiary-color">Save</button>
</div>
{% endblock %}