{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="static/login.css">
{% endblock %}

{% block title %}Login{% endblock %}

{% block main %}
    <!-- <div class="container text-center w-25"> -->
    <div class="container text-center">
        <!-- login form(post) -->
        <form action="/login" method="post" class="row row-cols-1 login-form">
            <!-- username -->
            <div class="col input-wrapper">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" autocomplete="off">
            </div>
            <!-- password -->
            <div class="col input-wrapper">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <!-- login button -->
            <div class="login-button-wrapper">
            <button type="submit" class="btn btn-tertiary-color mt-3">Log In</button>
            </div>
        </form>
    </div>
{% endblock %}