{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="static/login.css">
{% endblock %}

{% block title %}Login{% endblock %}

{% block main %}
    <!-- <div class="container text-center"> -->
    <div class="container">    
        <!-- login form(POST) -->
        <form action="/login" method="post" class="login-form">
            <!-- username -->
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" autocomplete="off">
            <!-- password -->
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            <!-- login button -->
            <button type="submit" class="btn btn-tertiary-color mt-3">Log In</button>
            <!-- /register_login -->
            <a href="/register_login" id="registration-link">Register</a>
        </form>
        <p id="login-credentials">
            <b>Demo login credentials</b>
            <br>
            Username: demo
            <br>
            Password: demo
        </p>
    </div>
{% endblock %}