{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="static/profile.css">
{% endblock %}

{% block title %}{{ session["user_name"] }}'s Profile{% endblock %}

{% block main %}

<!-- weight conversion variables -->
<!-- kg to lbs multiplier  -->
{% set weight_multiplier = 2.2046226 %}
<!-- default weight unit is kg -->
{% set default_weight = 'kg' %}

<!-- profile info -->
<div class="profile-data-table-wrapper secondary-color-background">
    <table class="table table-sm text-white">
        <tbody>
            <tr>
                <td>User ID:</td>
                <td>{{ profile_data.id }}</td>
            </tr>
            <tr>
                <td>Member since:</td>
                <td>{{ profile_data.member_since }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ profile_data.username }}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{ profile_data.first_name }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ profile_data.last_name }}</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>{{ profile_data.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Height(CM):</td>
                <td>{{ profile_data.height_cm }}</td>
            </tr>
            <tr>
                <!-- dynamic weight unit description and conversion-->
                {% if profile_data.weight_unit == default_weight %}
                    <td>Weight(KG):</td>
                    <td>{{ profile_data.weight_kg }}</td>
                {% else %}
                    <td>Weight(LBS):</td>
                    <td>{{ profile_data.weight_kg * weight_multiplier | round(2) }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Weight Unit:</td>
                <td class="weight-unit-buttons-wrapper">
                    {% if profile_data.weight_unit == "kg" %}
                        <form action="/profile" method="post" id="kg_form">
                            <input type="hidden" form="kg_form" name="kg" value="kg">
                            <button type="submit" form="kg_form" class="btn btn-tertiary-color" disabled>KG</button>
                        </form>
                        <form action="/profile" method="post" id="lbs_form">
                            <input type="hidden" form="lbs_form" name="lbs" value="lbs">
                            <button type="submit" form="lbs_form" class="btn btn-tertiary-color">LBS</button>
                        </form>
                    {% else %}
                        <form action="/profile" method="post" id="kg_form">
                            <input type="hidden" form="kg_form" name="kg" value="kg">
                            <button type="submit" form="kg_form" class="btn btn-tertiary-color">KG</button>
                        </form>
                        <form action="/profile" method="post" id="lbs_form">
                            <input type="hidden" form="lbs_form" name="lbs" value="lbs">
                            <button type="submit" form="lbs_form" class="btn btn-tertiary-color" disabled>LBS</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- buttons -->
<div class="container">
        <button type="button" class="btn btn-tertiary-color" onclick="history.back()">Back</button>
        <a href="/editprofile" class="btn btn-tertiary-color">Edit Profile</a>
        <a href="/changepassword" class="btn btn-tertiary-color">Change Password</a>
</div>
{% endblock %}