{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="static/registration.css">
{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
        <!-- register login post form -->
        <form action="/register_login" method="post" class="register-form" id="registration-form">
            <!-- username -->
                <label for="username" class="form-label">Username (Required)</label>
                <input type="text" class="form-control text-center" form="registration-form" name="username" autocomplete="off">
            <!-- password -->
                <label for="password" class="form-label">Password (Required)</label>
                <input type="password" class="form-control" form="registration-form" name="password">
                <p class="form-text">Must contain at least one lowercase letter, uppercase letter, number and symbol.</p>
            <!-- password confirmation -->
                <label for="password_confirmation" class="form-label">Confirm Password (Required)</label>
                <input type="password" class="form-control" form="registration-form" name="password_confirmation">
                <p class="form-text">Must match with password above.</p>
            <!-- email -->
                <label for="email" class="form-label">E-Mail (Required)</label>
                <input type="email" class="form-control" form="registration-form" name="email">
                <p class="form-text">Enter a valid e-mail address.</p>
            
            <!-- submit button -->
            <button type="submit" form="registration-form" class="btn btn-tertiary-color registration-btn">Submit</button>
            <!-- back button -->
            <button type="button" class="btn btn-tertiary-color registration-btn" onclick="history.back()">Back</button>
        </form>
    </div>
{% endblock %}


